@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right,#D5D0C4,#877C73);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    width: 600px;
    padding: 12px;         
    margin: auto;
}
    h1{
        color: #3D5E6B;
        text-align: center;
        text-shadow: 1px 1px 2px #141f24c7;
    }
    p{
        text-align: justify;
    }
    .container{
        text-align: center;
    }
    
   
