@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right, #A7BDD9, #D0E2F2);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #535e6ba6;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #BF9D95;
    text-align: center;
    text-shadow: 1px 1px 2px #302826;
}
p{
    text-align: justify;
}