@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: lightslategray;
}

header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li >a {
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(59, 59, 59);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li >a:hover{
    background-color: rgb(165, 161, 161);
}
main{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}