@charset "UTF-8";
body{
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
}
h2{
    color: blue;
}
p{
    text-align: justify;
}