    @charset "UTF-8";
    body{
            background-color: rgb(169, 211, 191);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(153, 11, 158);
           
        }
        h2{
            color:rgb(223, 11, 11)
        }
        p{
            text-align:justify
        }